* {
    margin: 0;
    padding: 0;
}

.storySection {
    display: flex;
    justify-content: center;
    margin-right: 18%;
}

.story1 {
    /* margin-top: 15px; */
    width: 85px;
    height: 85px;
    margin-left: 190px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
}

.story1 img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.story1::before {
    content: "";
    position: absolute;
    inset: -3px;
    border-radius: 50%;
    border: 4px solid transparent;
    padding: 3px;
    background: linear-gradient(pink, yellow, lightcoral);
    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    z-index: 2;
    pointer-events: none;
}

.story2 {
    margin-top: 15px;
    width: 85px;
    height: 85px;
    margin-left: 20px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
}

.story2 img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.story2::before {
    content: "";
    position: absolute;
    inset: -3px;
    border-radius: 50%;
    border: 4px solid transparent;
    padding: 3px;
    background: linear-gradient(pink, yellow, lightcoral);
    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    z-index: 2;
    pointer-events: none;
}

.story3 {
    margin-top: 15px;
    width: 85px;
    height: 85px;
    margin-left: 20px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
}

.story3 img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.story3::before {
    content: "";
    position: absolute;
    inset: -3px;
    border-radius: 50%;
    border: 4px solid transparent;
    padding: 3px;
    background: linear-gradient(pink, yellow, lightcoral);
    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    z-index: 2;
    pointer-events: none;
}

.story4 {
    margin-top: 15px;
    width: 85px;
    height: 85px;
    margin-left: 20px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
}

.story4 img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.story4::before {
    content: "";
    position: absolute;
    inset: -3px;
    border-radius: 50%;
    border: 4px solid transparent;
    padding: 3px;
    background: linear-gradient(pink, yellow, lightcoral);
    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    z-index: 2;
    pointer-events: none;
}


.postSection {
    height: 780px;
    width: 630px;
    margin-left: 30vw;
    margin-top: 10px;
    margin-right: 30vw;
}

.info {
    display: flex;
    padding: 50px 0px 0px 51px;
    height: 50px;
    width: 450px;
    align-items: center;
}

.profilrPic {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: none;
}

.info p {
    margin-left: 10px;
    font-size: 14px;
}

.threedotOption {
    height: 17px;
    width: 17px;
    margin-left: 115px;
    margin-top: 18px;
}

.videoSection {
    margin-top: 10px;
}

.discription {
    height: 107px;
    width: 630px;
}

.likeCommentsImg {
    display: flex;
}

.likeCommentsImg img {
    height: 24px;
    width: 24px;
    padding: 10px 10px 0px 10px;
}

.firstImg {
    margin-left: 30px;
}

.lastImg {
    margin-left: 350px;
}

.likeComments {
    margin-top: 10px;
    padding-top: 5px;
    margin-left: 44px;
}

.likeComments p {
    font-size: 17px;
}

#comments {
    height: 20px;
    width: 586px;
    border: none;
    border-radius: 4px;
}

@media (max-width: 768px) {
    .storySection div {
        width: 85px;
        height: 85px;
    }

    .story1 {
        margin-left: 70px;
    }

    .postSection {
        height: 780px;
        width: 10vw;
        margin-left: 1%;
    }

}


@media (max-width:600px) {
    .story1 {
        margin-left: 100px;
    }

    .storySection div {
        width: 80px;
        height: 80px;
    }

}


@media (max-width: 480px) {
    .postSection {
        height: 780px;
        width: 600px;
    }

    .storySection div {
        width: 90px;
        height: 90px;
    }

    .storySection {
        width: auto;
    }

    .story1 {
        margin-left: 130px;
    }
}