* {
    margin: 0;
    padding: 0;
}

.mainLogo {
    display: flex;
    height: 50px;
    align-items: center;
    width: 180px;
}

.mainLogo img {
    height: 22px;
    width: 22px;
    padding: 25px;
}

.searchSection {
    margin-left: 20px;
    width: 300px;
    height: 50px;
    display: flex;
    align-items: center;
}

.Search {
    width: 350px;
    border: none;
    border-radius: 10px;
    display: flex;
    align-items: center;
    height: 40px;
    color: rgb(102, 102, 102);
    font-size: 16px;
}

.Search img {
    height: 19px;
    width: 19px;
}

.otherLogo {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: fixed;
    left: 25px;
    top: 0;
    width: 180px;
    height: 100vh;
    gap: 25px;
}

.otherLogo>div {
    display: flex;
    align-items: center;
    gap: 10px;
}

.otherLogo img {
    height: 28px;
    width: 28px;
}

.logo8 img {
    border-radius: 50%;
    height: 28px;
    width: 28px;
}





@media (max-width: 768px) {

    .otherLogo {
        top: auto;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 70px;

        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        background: #fff;
        border-top: 1px solid #ccc;
        padding: 0;
        gap: 0;
    }

    .otherLogo>div {
        flex-direction: column;
        gap: 5px;
    }

    .otherLogo p {
        font-size: 12px;
    }

    .SearchLogo {
        display: none;
    }

   

}